<?xml version="1.0" encoding="utf-8"?>
<ManagementPack ContentReadable="true" SchemaVersion="2.0" OriginalSchemaVersion="2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
  <Manifest>
    <Identity><ID>HyperVPrivateCloud.Presentation</ID><Version>{{VERSION}}</Version></Identity>
    <Name>Hyper-V Private Cloud Monitoring Presentation</Name>
    <References>
      <Reference Alias="System"><ID>System.Library</ID><Version>7.5.8501.0</Version><PublicKeyToken>31bf3856ad364e35</PublicKeyToken></Reference>
      <Reference Alias="SC"><ID>Microsoft.SystemCenter.Library</ID><Version>7.0.8433.0</Version><PublicKeyToken>31bf3856ad364e35</PublicKeyToken></Reference>
      <Reference Alias="HCSV2Library"><ID>HyperVPrivateCloud.Library</ID><Version>{{VERSION}}</Version><PublicKeyToken>{{PUBLIC_KEY_TOKEN}}</PublicKeyToken></Reference>
      <Reference Alias="HCSV2Monitoring"><ID>HyperVPrivateCloud.Monitoring</ID><Version>{{VERSION}}</Version><PublicKeyToken>{{PUBLIC_KEY_TOKEN}}</PublicKeyToken></Reference>
    </References>
  </Manifest>
  <Presentation>
    <Views>
      <View ID="HyperVPrivateCloud.Service.State.View" Accessibility="Public" Enabled="true" Target="HCSV2Library!HyperVPrivateCloud.Service" TypeID="SC!Microsoft.SystemCenter.StateViewType" Visible="true"><Category>Operations</Category><Criteria><InMaintenanceMode>false</InMaintenanceMode></Criteria></View>
      <View ID="HyperVPrivateCloud.Service.Diagram.View" Accessibility="Public" Enabled="true" Target="HCSV2Library!HyperVPrivateCloud.Service" TypeID="SC!Microsoft.SystemCenter.DiagramViewType" Visible="true"><Category>Operations</Category><Presentation><DiagramViewCriteria><DiagramViewDisplay ShowVirtualGroup="true"><ContainmentStyle>Box</ContainmentStyle><LayoutDirection>NorthSouth</LayoutDirection><NodesPerRow>4</NodesPerRow><LevelsToShow>4</LevelsToShow><MaxNumChild>25</MaxNumChild><MinBucketSize>5</MinBucketSize><VirtualGroupThreshold>25</VirtualGroupThreshold></DiagramViewDisplay></DiagramViewCriteria></Presentation></View>
      <View ID="HyperVPrivateCloud.Component.State.View" Accessibility="Public" Enabled="true" Target="HCSV2Library!HyperVPrivateCloud.ComponentGroup" TypeID="SC!Microsoft.SystemCenter.StateViewType" Visible="true"><Category>Operations</Category><Criteria /></View>
      <View ID="HyperVPrivateCloud.Host.State.View" Accessibility="Public" Enabled="true" Target="HCSV2Library!HyperVPrivateCloud.HostRole" TypeID="SC!Microsoft.SystemCenter.StateViewType" Visible="true"><Category>Operations</Category><Criteria /></View>
      <View ID="HyperVPrivateCloud.Host.Performance.View" Accessibility="Public" Enabled="true" Target="HCSV2Library!HyperVPrivateCloud.HostRole" TypeID="SC!Microsoft.SystemCenter.PerformanceViewType" Visible="true"><Category>Operations</Category><Criteria /></View>
      <View ID="HyperVPrivateCloud.VirtualMachine.State.View" Accessibility="Public" Enabled="true" Target="HCSV2Library!HyperVPrivateCloud.VirtualMachine" TypeID="SC!Microsoft.SystemCenter.StateViewType" Visible="true"><Category>Operations</Category><Criteria /></View>
      <View ID="HyperVPrivateCloud.VirtualMachineRuntime.State.View" Accessibility="Public" Enabled="true" Target="HCSV2Library!HyperVPrivateCloud.VirtualMachineRuntime" TypeID="SC!Microsoft.SystemCenter.StateViewType" Visible="true"><Category>Operations</Category><Criteria /></View>
      <View ID="HyperVPrivateCloud.VirtualMachineRuntime.Performance.View" Accessibility="Public" Enabled="true" Target="HCSV2Library!HyperVPrivateCloud.VirtualMachineRuntime" TypeID="SC!Microsoft.SystemCenter.PerformanceViewType" Visible="true"><Category>Operations</Category><Criteria /></View>
      <View ID="HyperVPrivateCloud.ReplicationRelationship.State.View" Accessibility="Public" Enabled="true" Target="HCSV2Library!HyperVPrivateCloud.ReplicationRelationship" TypeID="SC!Microsoft.SystemCenter.StateViewType" Visible="true"><Category>Operations</Category><Criteria /></View>
      <View ID="HyperVPrivateCloud.VirtualHardDisk.State.View" Accessibility="Public" Enabled="true" Target="HCSV2Library!HyperVPrivateCloud.VirtualHardDisk" TypeID="SC!Microsoft.SystemCenter.StateViewType" Visible="true"><Category>Operations</Category><Criteria /></View>
      <View ID="HyperVPrivateCloud.VirtualSwitch.State.View" Accessibility="Public" Enabled="true" Target="HCSV2Library!HyperVPrivateCloud.VirtualSwitch" TypeID="SC!Microsoft.SystemCenter.StateViewType" Visible="true"><Category>Operations</Category><Criteria /></View>
      <View ID="HyperVPrivateCloud.VirtualNetworkAdapter.State.View" Accessibility="Public" Enabled="true" Target="HCSV2Library!HyperVPrivateCloud.VirtualNetworkAdapter" TypeID="SC!Microsoft.SystemCenter.StateViewType" Visible="true"><Category>Operations</Category><Criteria /></View>
      <View ID="HyperVPrivateCloud.MonitoringPipeline.State.View" Accessibility="Public" Enabled="true" Target="HCSV2Library!HyperVPrivateCloud.MonitoringPipeline" TypeID="SC!Microsoft.SystemCenter.StateViewType" Visible="true"><Category>Operations</Category><Criteria /></View>
      <View ID="HyperVPrivateCloud.Host.ActiveAlerts.View" Accessibility="Public" Enabled="true" Target="HCSV2Library!HyperVPrivateCloud.HostRole" TypeID="SC!Microsoft.SystemCenter.AlertViewType" Visible="true"><Category>Operations</Category><Criteria><ResolutionState><StateRange Operator="NotEquals">255</StateRange></ResolutionState></Criteria></View>
      <View ID="HyperVPrivateCloud.VirtualMachineRuntime.ActiveAlerts.View" Accessibility="Public" Enabled="true" Target="HCSV2Library!HyperVPrivateCloud.VirtualMachineRuntime" TypeID="SC!Microsoft.SystemCenter.AlertViewType" Visible="true"><Category>Operations</Category><Criteria><ResolutionState><StateRange Operator="NotEquals">255</StateRange></ResolutionState></Criteria></View>
      <View ID="HyperVPrivateCloud.Host.Events.View" Accessibility="Public" Enabled="true" Target="HCSV2Library!HyperVPrivateCloud.HostRole" TypeID="SC!Microsoft.SystemCenter.EventViewType" Visible="true"><Category>Operations</Category><Criteria /></View>
      <View ID="HyperVPrivateCloud.VirtualMachineRuntime.Events.View" Accessibility="Public" Enabled="true" Target="HCSV2Library!HyperVPrivateCloud.VirtualMachineRuntime" TypeID="SC!Microsoft.SystemCenter.EventViewType" Visible="true"><Category>Operations</Category><Criteria /></View>
    </Views>
    <Folders>
      <Folder ID="HyperVPrivateCloud.Root.Folder" Accessibility="Public" ParentFolder="SC!Microsoft.SystemCenter.Monitoring.ViewFolder.Root" />
      <Folder ID="HyperVPrivateCloud.Overview.Folder" Accessibility="Public" ParentFolder="HyperVPrivateCloud.Root.Folder" />
      <Folder ID="HyperVPrivateCloud.Compute.Folder" Accessibility="Public" ParentFolder="HyperVPrivateCloud.Root.Folder" />
      <Folder ID="HyperVPrivateCloud.VirtualMachines.Folder" Accessibility="Public" ParentFolder="HyperVPrivateCloud.Root.Folder" />
      <Folder ID="HyperVPrivateCloud.Availability.Folder" Accessibility="Public" ParentFolder="HyperVPrivateCloud.Root.Folder" />
      <Folder ID="HyperVPrivateCloud.Storage.Folder" Accessibility="Public" ParentFolder="HyperVPrivateCloud.Root.Folder" />
      <Folder ID="HyperVPrivateCloud.Networking.Folder" Accessibility="Public" ParentFolder="HyperVPrivateCloud.Root.Folder" />
      <Folder ID="HyperVPrivateCloud.MonitoringPipeline.Folder" Accessibility="Public" ParentFolder="HyperVPrivateCloud.Root.Folder" />
      <Folder ID="HyperVPrivateCloud.Operations.Folder" Accessibility="Public" ParentFolder="HyperVPrivateCloud.Root.Folder" />
    </Folders>
    <FolderItems>
      <FolderItem ElementID="HyperVPrivateCloud.Service.State.View" ID="HyperVPrivateCloud.Service.State.View.FolderItem" Folder="HyperVPrivateCloud.Overview.Folder" />
      <FolderItem ElementID="HyperVPrivateCloud.Service.Diagram.View" ID="HyperVPrivateCloud.Service.Diagram.View.FolderItem" Folder="HyperVPrivateCloud.Overview.Folder" />
      <FolderItem ElementID="HyperVPrivateCloud.Component.State.View" ID="HyperVPrivateCloud.Component.State.View.FolderItem" Folder="HyperVPrivateCloud.Overview.Folder" />
      <FolderItem ElementID="HyperVPrivateCloud.Host.State.View" ID="HyperVPrivateCloud.Host.State.View.FolderItem" Folder="HyperVPrivateCloud.Compute.Folder" />
      <FolderItem ElementID="HyperVPrivateCloud.Host.Performance.View" ID="HyperVPrivateCloud.Host.Performance.View.FolderItem" Folder="HyperVPrivateCloud.Compute.Folder" />
      <FolderItem ElementID="HyperVPrivateCloud.VirtualMachine.State.View" ID="HyperVPrivateCloud.VirtualMachine.State.View.FolderItem" Folder="HyperVPrivateCloud.VirtualMachines.Folder" />
      <FolderItem ElementID="HyperVPrivateCloud.VirtualMachineRuntime.State.View" ID="HyperVPrivateCloud.VirtualMachineRuntime.State.View.FolderItem" Folder="HyperVPrivateCloud.VirtualMachines.Folder" />
      <FolderItem ElementID="HyperVPrivateCloud.VirtualMachineRuntime.Performance.View" ID="HyperVPrivateCloud.VirtualMachineRuntime.Performance.View.FolderItem" Folder="HyperVPrivateCloud.VirtualMachines.Folder" />
      <FolderItem ElementID="HyperVPrivateCloud.ReplicationRelationship.State.View" ID="HyperVPrivateCloud.ReplicationRelationship.State.View.FolderItem" Folder="HyperVPrivateCloud.Availability.Folder" />
      <FolderItem ElementID="HyperVPrivateCloud.VirtualHardDisk.State.View" ID="HyperVPrivateCloud.VirtualHardDisk.State.View.FolderItem" Folder="HyperVPrivateCloud.Storage.Folder" />
      <FolderItem ElementID="HyperVPrivateCloud.VirtualSwitch.State.View" ID="HyperVPrivateCloud.VirtualSwitch.State.View.FolderItem" Folder="HyperVPrivateCloud.Networking.Folder" />
      <FolderItem ElementID="HyperVPrivateCloud.VirtualNetworkAdapter.State.View" ID="HyperVPrivateCloud.VirtualNetworkAdapter.State.View.FolderItem" Folder="HyperVPrivateCloud.Networking.Folder" />
      <FolderItem ElementID="HyperVPrivateCloud.MonitoringPipeline.State.View" ID="HyperVPrivateCloud.MonitoringPipeline.State.View.FolderItem" Folder="HyperVPrivateCloud.MonitoringPipeline.Folder" />
      <FolderItem ElementID="HyperVPrivateCloud.Host.ActiveAlerts.View" ID="HyperVPrivateCloud.Host.ActiveAlerts.View.FolderItem" Folder="HyperVPrivateCloud.Operations.Folder" />
      <FolderItem ElementID="HyperVPrivateCloud.VirtualMachineRuntime.ActiveAlerts.View" ID="HyperVPrivateCloud.VirtualMachineRuntime.ActiveAlerts.View.FolderItem" Folder="HyperVPrivateCloud.Operations.Folder" />
      <FolderItem ElementID="HyperVPrivateCloud.Host.Events.View" ID="HyperVPrivateCloud.Host.Events.View.FolderItem" Folder="HyperVPrivateCloud.Operations.Folder" />
      <FolderItem ElementID="HyperVPrivateCloud.VirtualMachineRuntime.Events.View" ID="HyperVPrivateCloud.VirtualMachineRuntime.Events.View.FolderItem" Folder="HyperVPrivateCloud.Operations.Folder" />
    </FolderItems>
  </Presentation>
  <LanguagePacks><LanguagePack ID="ENU" IsDefault="true"><DisplayStrings>
    <DisplayString ElementID="HyperVPrivateCloud.Presentation"><Name>Hyper-V Private Cloud Monitoring Presentation</Name><Description>Operator console hierarchy, Distributed Application diagram, health, alerts, events, performance, inventory, and monitoring coverage for Hyper-V Private Cloud Monitoring.</Description></DisplayString>
    <DisplayString ElementID="HyperVPrivateCloud.Root.Folder"><Name>Hyper-V Private Cloud</Name><Description>Complete operator workspace for supported Hyper-V private-cloud capabilities.</Description></DisplayString>
    <DisplayString ElementID="HyperVPrivateCloud.Overview.Folder"><Name>Overview</Name></DisplayString>
    <DisplayString ElementID="HyperVPrivateCloud.Compute.Folder"><Name>Compute</Name></DisplayString>
    <DisplayString ElementID="HyperVPrivateCloud.VirtualMachines.Folder"><Name>Virtual Machines</Name></DisplayString>
    <DisplayString ElementID="HyperVPrivateCloud.Availability.Folder"><Name>Availability</Name></DisplayString>
    <DisplayString ElementID="HyperVPrivateCloud.Storage.Folder"><Name>Storage</Name></DisplayString>
    <DisplayString ElementID="HyperVPrivateCloud.Networking.Folder"><Name>Networking</Name></DisplayString>
    <DisplayString ElementID="HyperVPrivateCloud.MonitoringPipeline.Folder"><Name>Monitoring Pipeline</Name></DisplayString>
    <DisplayString ElementID="HyperVPrivateCloud.Operations.Folder"><Name>Operations</Name></DisplayString>
    <DisplayString ElementID="HyperVPrivateCloud.Service.State.View"><Name>Private Cloud Health</Name><Description>Health state for every discovered standalone or clustered Hyper-V private-cloud service boundary.</Description></DisplayString>
    <DisplayString ElementID="HyperVPrivateCloud.Service.Diagram.View"><Name>Private Cloud Diagram</Name><Description>Distributed Application diagram showing service branches, contained resources, and their rolled-up health.</Description></DisplayString>
    <DisplayString ElementID="HyperVPrivateCloud.Component.State.View"><Name>Private Cloud Components</Name><Description>Health of the management, compute, VM, availability, storage, networking, and monitoring branches.</Description></DisplayString>
    <DisplayString ElementID="HyperVPrivateCloud.Host.State.View"><Name>Hyper-V Hosts</Name></DisplayString>
    <DisplayString ElementID="HyperVPrivateCloud.Host.Performance.View"><Name>Host Performance</Name></DisplayString>
    <DisplayString ElementID="HyperVPrivateCloud.VirtualMachine.State.View"><Name>Virtual Machine Inventory</Name><Description>Stable logical VM identities that remain consistent across host migration.</Description></DisplayString>
    <DisplayString ElementID="HyperVPrivateCloud.VirtualMachineRuntime.State.View"><Name>Virtual Machine Health</Name><Description>Agent-hosted VM runtime health on the current Hyper-V owner.</Description></DisplayString>
    <DisplayString ElementID="HyperVPrivateCloud.VirtualMachineRuntime.Performance.View"><Name>Virtual Machine Performance</Name></DisplayString>
    <DisplayString ElementID="HyperVPrivateCloud.ReplicationRelationship.State.View"><Name>Hyper-V Replica</Name></DisplayString>
    <DisplayString ElementID="HyperVPrivateCloud.VirtualHardDisk.State.View"><Name>Virtual Hard Disks</Name></DisplayString>
    <DisplayString ElementID="HyperVPrivateCloud.VirtualSwitch.State.View"><Name>Virtual Switches</Name></DisplayString>
    <DisplayString ElementID="HyperVPrivateCloud.VirtualNetworkAdapter.State.View"><Name>Virtual Network Adapters</Name></DisplayString>
    <DisplayString ElementID="HyperVPrivateCloud.MonitoringPipeline.State.View"><Name>Workflow Health</Name><Description>Discovery and monitoring pipeline freshness and execution health.</Description></DisplayString>
    <DisplayString ElementID="HyperVPrivateCloud.Host.ActiveAlerts.View"><Name>Active Host Alerts</Name></DisplayString>
    <DisplayString ElementID="HyperVPrivateCloud.VirtualMachineRuntime.ActiveAlerts.View"><Name>Active Virtual Machine Alerts</Name></DisplayString>
    <DisplayString ElementID="HyperVPrivateCloud.Host.Events.View"><Name>Host Events</Name></DisplayString>
    <DisplayString ElementID="HyperVPrivateCloud.VirtualMachineRuntime.Events.View"><Name>Virtual Machine Events</Name></DisplayString>
  </DisplayStrings></LanguagePack></LanguagePacks>
</ManagementPack>
